:root {
    font-size: 16px;
   // Base Theme color
  
	--blue: #024f9d;
	--green: #008840;
	--orange: #e55a28;
	--red: #ff4558;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--yellow: #ffc107;
	--teal: #20c997;
	--cyan: #17a2b8;
	--black: #000000;
	--white: #ffffff;
  
	// Base Theme color variations
  
	--primary: var(--blue);
	--secondary: #008840;
	--tertiary: #e55a28;
  
	// gray colors shades
	--gray-0: #f2f2f2; // place holder active bg #F2F2F2
	--gray-100: #cccccc; // disable btn bg, icon color #CCCCCC
	--gray-200: #999999; // disable text, place holder text #999999
	--gray-300: #969696; // sub heading 2 #969696
	--gray-400: #999999; // sub heading #666666
	--gray-600: #222222; // Dark theme menu bg color
	--gray-800: #333333; // text color #333333
  
	// primary colors
	--primary-0: #f3f7fa; // bg
	--primary-100: #edf4f9; // default button bg
	--primary-200: #80a7ce; // divider
	--primary-250: #d3e7f4; //pagination bg color
	--primary-300: #7ab4ee; // outline, focus fields
	--primary-400: var(--primary); // button bg, heading, table titles, links, toggles
	--primary-600: #005391; // on press
	--primary-800: #002e50; // hover
  
	// secondary colors
	--secondary-0: #e1ffdf; // toast bg, label
	--secondary-100: #00c786; // button bg bg, toast
	--secondary-200: #07bc81; // button bg
	--secondary-400: var(--secondary); // hover
  
	// tertiary colors
	--tertiary-0: #feedd7; // toast bg, label
	--tertiary-100: #ffa11d; // buttong bg, toast
	--tertiary-400: var(--tertiary); // icon, label, notification bg
  
	// red colors
	--red-0: #fbccd1; // toast bg
	--red-100: #ff6979; // buttong bg, toast
	--red-400: var(--red); // icon color, lable, notification
  
	// fonts
	--font-default-size: 0.875rem;
	--font-size-base: var(--font-default-size); // 14px Assumes the browser default, typically `16px`
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--line-height-base: calc(var(--font-size-base) * 1.61803398875);
	--h1-font-size: 2rem; // 32px
	--h2-font-size: 1.75rem; // 28px
	--h3-font-size: 1.5rem; // 24px
	--h4-font-size: 1.2rem; // 20px
	--h5-font-size: 1rem; // 16px
	--h6-font-size: var(--font-size-base); // 14px
	--font-size-lg: var(--h4-font-size); //20px
	--font-size-md: var(--h5-font-size); // 16px
	--font-size-normal: var(--font-size-base); // 14px
	--font-size-sm: 0.75rem; // 12px
	--font-size-xs: 0.625rem; // 10px
	--p-font-size: var(--font-size-base); //14px
    --df-theme-bg: white;
    --df-text:#333;
    --df-filter-bg:#f3f3e5;
}

.recent-tabs{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    box-shadow: none!important;
    border-radius: unset;
    background: inherit!important; 
    z-index: unset;
}
.tabs-content{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}
.tabs-filter{
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
}
.filter-option{
    margin: 0.5rem;
    text-decoration: none;
    border: 1px solid var(--gray-400);
    border-width: 0 0 0.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    padding: 0.5rem;
    overflow: visible;
    font-size: 0.875rem;
    color: var(--df-text);
    background: var(--df-filter-bg);
}
.filter-option:first-child {
    margin-left: 0;
}
.filter-option:hover,.tabs-active {
    border-bottom: 0.1875rem solid var(--primary);
    text-decoration: none;
    color: var(--primary);
}

.tags{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap; 
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
        z-index: unset; 
    }
}

.tag {
    font-size: 0.75rem;
    display: flex;
    width: auto;
    min-width: max-content;
    max-height: 2rem;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.count {
    height: auto;
    background: var(--white);
    border-radius: 0.25rem;
    padding: 0.0625rem 0.1875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 1rem;
    margin: 0 0 0 1rem;
    color: var(--blue);
}

.df-cancel-btn{
    background: var(--white);
    padding: .5rem 1rem;
    font-size: .75rem;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 0.25rem;
    margin:0.5rem;
  }

.df-reply-btn{
    background: var(--primary);
    padding: .5rem 1rem;
    font-size: .75rem;
    color: var(--white);
    border-radius: 0.25rem;
    border: none;
    margin: 0.5rem 0;
  }

  .ui.container {
    display: block;
    max-width: 100%!important;
}
  @media only screen and (max-width: 767px){
  .ui.container {
    width: auto!important;
    margin-left: 1em!important;
    margin-right: 1em!important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px){
    .ui.container {
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.discuss-card-content{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: var(--df-card-bg);
    color: var(--df-text);
    flex: 1;
    height: auto;
    margin-bottom: 1rem;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 1rem;
    border-radius: 0.25rem;
    word-break: break-all;
}

// rtl css

html[dir='rtl'] .related-discuss-part{
    padding: 0 1.5rem 1rem 0;  
}

html[dir='rtl'] .df-back-btn img {
    margin-right: inherit;
    margin-left: 0.25rem;
}

html[dir='rtl'] .df-close-btn img {
    margin-left: inherit;
    margin-right: 0.25rem;
}